/* =========================================
   ADMIN LAYOUT
========================================= */

.admin-layout {
  width: 100%;
  min-height: 100vh;

  display: flex;

  background: #f7f9f7;

  font-family: "Inter", sans-serif;

  overflow-x: hidden;
}


/* =========================================
   MAIN AREA
========================================= */

.admin-main {
  width: calc(100% - 260px);
  min-height: 100vh;

  margin-left: 260px;

  display: flex;
  flex-direction: column;

  min-width: 0;
}


/* =========================================
   CONTENT
========================================= */
.admin-content {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;

  box-sizing: border-box;

  padding: 100px 48px 48px;

  overflow-x: hidden;
  overflow-y: visible;
}

/* =========================================
   DESKTOP
========================================= */

@media (min-width: 1201px) {

  .admin-main {
    margin-left: 260px;

    width: calc(100% - 260px);
  }

}


/* =========================================
   LAPTOP
========================================= */

@media (max-width: 1200px) {

  .admin-main {
    margin-left: 280px;

    width: calc(100% - 280px);
  }

  .admin-content {
    padding: 26px;
  }

}


/* =========================================
   TABLET
========================================= */

@media (max-width: 900px) {

  .admin-main {
    margin-left: 220px;

    width: calc(100% - 220px);
  }

  .admin-content {
    padding: 24px;
  }

}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 700px) {

  .admin-main {
    margin-left: 76px;

    width: calc(100% - 76px);
  }

  .admin-content {
    padding: 20px 16px 30px;
  }

}